extends ../content.pug

block header
    h1 CREST Tokens

block content
    .alpha-panel
        p tokens say hi
        p
            a(href="/profile/tokens/add") Add New Token
        p
            | Manage your 3rd Party Application settings 
            a(href="https://community.eveonline.com/support/third-party-applications/") here
            | .
